*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wraper{
    margin: 50px auto;
    width: 500px;
    padding: 50px;
}

.wraper h1{
    margin:0px 0px ;
    font-family: 'Trebuchet MS', sans-serif;
}
.wraper h4{
    margin: 10px auto;
    font-family:  Courier, monospace;
}

.wraper p{
    margin: 10px auto;
    line-height: 25px;
    
}

.container{
    background-color: rgb(219, 238, 187);
}

.content-box{
    background-color: white;
    border-bottom: 3px solid salmon;
    border-radius: 3px;
    padding:30px;
}